.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color:transparent;
  border: 1px solid white;
  padding: 10px;
  font-size: 10px;
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'Times New Roman', Times, serif;
  /* border-color: black;
  border-width: 0.5pt; */
}

body{
  background-color:rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.textalign{
  text-align: justify;
}
.line1
{
  /* If I want the text to be on the top right hand side/* align: right; */
  /* position: absolute;
  right:0px;
  top:0px; */
  line-height: 190%;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 14px;
}

ul{
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: rgb(111, 108, 98);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:rgb(0, 0, 0) ;
  background-color: transparent;;
}

a:hover {
  color:gray;
  background-color: transparent;
  ;
  }

  .colorchange:hover {
    background-color: rgb(195, 194, 203);
    }

  
    ul{
      padding-left: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
      
    nav a{
      flex: auto;
      display: inline-block;
      text-align: left;
      position: relative;
      color: black;
      margin-left:50px;
      margin-right: 0px;
      padding:0px;
      text-decoration: none;
      }

      nav{
        display: flex;
        background-color: #fff;
        padding: 10px;
      }
    img{
      width: 70%;
      margin: 0;
    }
    .alignrightimageingrid{
      /* grid-area: right; */
        /* margin-right: -80px; */
    }

    